//MAIN DIV
.mesrealisations{
    background-color: #F6F6F6;
    padding: 20px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1490196078);
}
//TAGS DIV
.TagsContainer{
    display: flex;
    justify-content: center;

    .Tags{
        margin: 20px;
        background-color: black;
        color: white;
        padding: 10px;
        font-weight: bold;
    }
}
//PROJECTS DIV

.RealisationsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    
    .MesProjets{
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: white;
        width: 35%;
        height: 35vh;
        border-radius: 5px;
        box-shadow: -6px 10px 40px rgba(0,0,0,0.1);
        cursor: pointer;
        margin: 15px;

        @keyframes projectszoom {
            100%{
                transform: scale(1.08);
            }
            0%{
                transform: scale(1);
            }
        }

        &:hover{
            animation: projectszoom 0.3s ease-out forwards;
        }

        img{
            width: 20%;
            margin: auto;
            margin-bottom: 0;
            align-self: center;
        }

        h3{
            text-align: center;
            font-weight: 500;
            margin: auto;
            margin-top: 20px;

            &::after{
                display: block;
                content: '';
                background-color: rgb(189, 189, 189);
                width: 50%;
                height: 1px;
                margin: auto;
                margin-top: 25px;
            }
        }

        .iconetech{
            display: flex;
            position: absolute;
            gap: 10px;
            top: 20px;
            right: 10px;
            font-size: 25px;
        }
    }
}

//MEDIA QUERIES

@media (max-width: 768px){
.mesrealisations{
    h1{
        text-align: center;
    }
    .TagsContainer{
        display: flex;
        flex-direction: column;
        text-align: center;

        .Tags{
            margin: 5px;
        }
    }

    .RealisationsContainer{
        flex-direction: column;
        margin: auto;

        .MesProjets{
            align-items: center;
            width: 85%;
            height: 25vh;
            padding: 20px;
            margin: auto;
            margin-top: 20px;

            img{
                width: 35%;
            }
        }
    }
}
}