.overlay{
    position: fixed;
    inset: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 19;
    
}
.modale{
    position: fixed;
    z-index: 20;
    top: 5%;
    right: 25%;
    background-color: white;
    width: 50%;
    border-radius: 10px;
    box-shadow: -6px 10px 40px rgba(255, 255, 255, 0.5);
    
    .fa-xmark{
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }
}

.modalecontent{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: auto;

    img{
        width: 80%;
        margin: auto;
        box-shadow: 10px 10px 20px rgb(189, 189, 189);
        border-radius: 3px;
    }

    .titremodale{
        margin: auto;
        margin-bottom: 25px;
        text-align: center;

        &::after{
            display: block;
            content: '';
            background-color: rgb(189, 189, 189);
            width: 100%;
            height: 1px;
            margin: auto;
            margin-top: 25px;
        }
    }

    .mesliens{
        display: flex;
        justify-content: space-around;

        a{
            text-decoration: none;
            color: black;
            padding: 10px;

            &:hover{
                background-color: #dedede;
                border-radius: 12px;
                padding: 10px;
            }

        }
        
        .disabled{
            pointer-events: none;
            color: grey;
        }
    }
    .iconetechmodal{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        margin-top: 20px;

        i{
            font-size: 25px;
            margin-left: 10px;
        }
}
    p{
        text-align: start;

        &::before{
            display: block;
            content: '';
            background-color: rgb(189, 189, 189);
            height: 0.5px;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

//MEDIA QUERIES 

@media (max-width: 768px){
    .modale{
        width: auto;
        right: 10px;
        left: 10px;
        .modalecontent{

            .titremodale{
                font-size: larger;

                &::after{
                    display: none;
                }
            }

            p{
                text-align: justify;
                font-size: small;

                &::before{
                    height: 1px;
                }
            }

            .mesliens{
                font-size: smaller;
                gap: 20px;
            }

            img{
                width: 100%;
            }
        }
    }
}