.presentation{
    display: flex;
    padding: 20px;
    flex-direction: column;
    
    .prescontainer{
        display: flex;
        align-items: center;
        
        p{
            padding: 20px;
            font-size: x-large;
            text-align: center;
        }
    }
    
    img{
        width: 50%;
        height: 50%;
    }
}

//MEDIA QUERIES

@media (max-width: 768px){
.presentation{

    h1{
        text-align: center;
    }

    .prescontainer{
        display: flex;
        flex-direction: column;

        img{
            width: 70px;
        }

        p{
            margin: 0;
            font-size: small;
            text-align: justify;
        }
    }
}
}