.skillscard{
    .maintech{
        display: flex;
        flex-direction: column;
        margin: 20px;
        
        &:hover{
            transform: scale(1.1);
        }
        
        i, p{
            text-align: center;
        }
        
        img{
            width: 150px;
            height: 150px;
            margin: 20px;
        }
    }
}

//MEDIA QUERIES

@media (max-width: 768px){
    .skillscard{
        .maintech{
            margin: 0;
            
            img{
                width: 80px;
                height: 80px;
                margin: 20px;
            }
            
            p{
                font-size: small;
            }
        }
    }
}